 <div id="content" class="span12 show-document">
  <%= render 'previous_next_doc' %>
  <% @page_title = t('blacklight.search.show.title', :document_title => document_show_html_title, :application_name => application_name).html_safe -%>
  <% content_for(:head) { render_link_rel_alternates } -%>

  <div id="document" class="document <%= render_document_class %>" itemscope itemtype="<%= @document.itemtype %>">
    <div id="doc_<%= @document.id.to_s.parameterize %>">
<!--
      <% @document.each do |k, v| %>
        <div id="element_<%=k.to_s.parameterize%>" >
          <dt><%= k %></dt>
          <dd><%= v %></dd>
        </div>
      <% end %>
-->
      <% # bookmark/folder functions -%>
      <%= render_document_partials @document, blacklight_config.view_config(:show).partials %>
    </div>
  </div>


</div>
